<div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index.html">Multi</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo mr-auto"><img src="assets/img/logo_large.jpg" alt="" class="img-fluid"></a>

      <nav id="nav-menu" class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">公司介紹</a></li>
          <li><a href="stakeholders.html">股東背景</a></li>
          <li><a href="#portfolio">股權結構</a></li>
          <li><a href="#team">公司結構</a></li>
          <li class="drop-down"><a href="">業務活動</a>
            <ul>
              <li><a href="#">証券經紀服務</a></li>
              <li><a href="#">証券研究與資產管理</a></li>
              <li><a href="#">發展 </a></li>
            </ul>
          </li>
          <li><a href="#contact">客戶及市場</a></li>
          <li class="drop-down"><a href="">操作模式 </a>
            <ul>
              <li><a href="#">証券經紀 </a></li>
              <li><a href="#">証券買賣</a></li>
            </ul>
          </li>
          <li><a href="#team">風險和內部控制</a></li>
          <li><a href="#team">牌照</a></li> 
        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#about" class="get-started-btn">Get Started</a> -->

    </div>